<%- include('../../layout/head.ejs', {title: 'dashboard'}) -%>

<div class="min-h-full">
  <%- include("./nav.ejs") %>

  <!-- main -->
  <main class="allProduct">
    <div class="containerProduct">
      <header>
        <h2>all Product</h2>
        <button>
          <a href="/admin/new">add Product</a>
        </button>
      </header>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>stock</th>
            <th>category</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < productos.length; i++) { %>
          <tr id=" <%= productos[i].id %>">
            <td><%= productos[i].id %></td>
            <td>
              <img
                class="w-full h-full rounded-full"
                src="<%= productos[i].imagenes[0].url %> "
                alt=""
              />
            </td>
            <td><%= productos[i].nombre %></td>
            <td><%= productos[i].precio %>$</td>
            <td><%= productos[i].categoria %></td>
            <td>Columna 6</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </main>
</div>

<%- include('../../layout/bodyEnd.ejs') -%>
