<%- include('../../components/view/admin/allProduct.ejs') -%>


<% productos.forEach(producto => { %>
    <li>
      <h2><%= producto.nombre %></h2>
      <p>Código: <%= producto.codigo %></p>
      <p>Precio: $<%= producto.precio %></p>
      <p>Descripción: <%= producto.descripcion %></p>
      <p>Categoría ID: <%= producto.categoria_id %></p>
      <p>Fecha de Creación: <%= producto.createdAt %></p>
    
    </li>
  <% }); %>

